@media (max-width: 700px) {
  .main {
    width: 400px;
    grid-template-columns: 1fr;
  }
  .main > div:first-child {
    border-radius: 10px 10px 0px 0px;
  }
  .main > div:last-child {
    border-radius: 0px 0px 10px 10px;
  }
}
